<h1>User data information page</h1>
<div class="row mt-5">
    <div class="col-md-4 text-center">
        <img src="{{user.image}}" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <div class="h2 mt-3">{{user.name}}</div>
        <div class="">{{user.email}}</div>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary mt-3">edit</a>
    </div>

</div>